@import "../../node_modules/bulma/sass/utilities/initial-variables"
@import "../../node_modules/bulma/sass/utilities/functions"

$table-cell-width: 0 0 0
$table-cell-border: $table-cell-width black solid

body
  margin: 0
  padding: 0


.gtag input, table input
  margin: 0 5px


.table
  boder: $table-cell-border
@import "../../node_modules/bulma/bulma"
